{{>header}}

<div class="container h-100">
    <div class="row" style="margin-top: 10px;">
        <div class="col text-center">
            {{#titleExists}}
            <p style="color: cornflowerblue;">Un article avec le même nom existe déja: 
                <a href="/learn/{{titleExists}}">{{titleExists}}</a>
            </p>
            {{/titleExists}}
            {{#too_long}}
            <p style="color: cornflowerblue;">L'article dépasse 30 caractères</p>
            {{/too_long}}
        </div>
    </div>

    <div class="row h-100 align-items-center">
        <div class="col-6 mx-auto">
            <form action="/create" method="POST">
                <div class="form-group text-center">
                  <label> <h3 class="h3 mb-3 font-weight-normal">Créer une fiche d'apprentissage</h3></label>
                    <input type="text" class="form-control" placeholder="{{title}}" name="title">
                </div>
                {{#title}}
                <div class="form-group">
                  <label>Catégorie</label>
                  <select class="custom-select" size="5" name="category">
                    {{#category}}
                        <option value="{{name}}">{{name}}</option>
                    {{/category}}
                    </select>
                </div>
                {{/title}}
                <div class="text-center">
                    <input class="btn btn-secondary" type="submit" value="Créer">
                </div>
              </form>    
        </div>
    </div>
</div>

{{> footer}}