{{>header}}

<style>
    .rules div {
        margin-bottom: 30px;
    }
</style>

<div class="container rules" style="margin-top: 20px;">
    <div class="row text-center">
        <div class="col">
            <h1 style="color: #5e9ca0;">R&egrave;gles de Learning Pathway</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 style="color: #2e6c80;"><span style="color: #000000;">Cette page r&eacute;sume les diff&eacute;rentes r&egrave;gles que comporte Learning Pathway.</span></h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Pour vous :</h3>
        <ul>
            <li><p>Learning Pathway n'est pas un site servant &agrave; faire sa pub pour son blog, son site personnel, etc...</p></li>
            <li><p>Si vous n'approuvez pas certains sites en lien, ou que certaines pages n'ont pour vous aucune utilit&eacute;s, vous pouvez nous contacter via l'adresse mail 
                <span><span style="color: #3366ff;">learning-pa<!-- 123@abc -->thways at protonm<!-- @def.fr -->ail.com</span>
                </span>
            </p></li>
        </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h3>Un lieu d'apprentissage collaboratif :</h3>
            <ul>
                <li>Respectez le travail des autres collaborateurs : tout le monde &agrave; le droit d'apprendre, de modifier ou de cr&eacute;er.</li>
                <li>Si un contributeur enl&egrave;ve ce que vous avez modifier c'est que cette personne avait une bonne intention de le faire et ne remodifier pas par la suite.</li>
                <li>V&eacute;rifiez que le contenu que vous voulez ins&eacute;rer n'existe pas d&eacute;j&agrave; pour &eacute;viter la duplication de contenu.</li>
                <li>Si vous faites des erreurs ne vous inqui&egrave;tez pas, d'autres contributeurs le remarqueront et les corrigeront. Toutes les modifications sont conserv&eacute;es dans l'historique, il est donc impossible de perdre des informations.</li>
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <h3>Merci &agrave; tous les contributeurs, le site se construit gr&acirc;ce &agrave; vous.</h3>
        </div>
    </div>
</div>

{{> footer}}